<p>
  <li>
    <p><%= post.content %> &nbsp; <small> -<%= post.user.name %> </small> &emsp;
      <% if(locals.user && locals.user.id == post.user.id) { %>
      <button><a href="/post/destroy/<%= post.id %>">delete post</a></button>
      <%}%>
      </p>
    </li>
  </p>
  <div class="post-comments">
    <div class="post-comments-list-cont">
      <ul id="post-comments-<%= post._id %>">
      <% for(comment of post.comment) { %>

  <li>
    <%- include('_comment') -%>
  </li>
  <% } %>
  </ul>
  </div>
  <% if(locals.user) {%>
<form action=" /comment/create" method="POST">
  <input type="text" name="content" placeholder="Type here to add comment..." required />
  <input type="hidden" name="post" value="<%= post.id %>" />
  <input type="submit" name="" id="" value="Add Comment" />
</form>
<%}%>
        </div>