<link rel="stylesheet" href="/css/user_profile2.css">
<h1>
    Codeial / Profile Page
</h1>


<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">

<% if(user.id == profile_user.id) {%> 
    <!-- if user matches then show the form -->
    <form action="/user/update/<%= profile_user.id %> " method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name%> " required>
        <input type="email" name="email_id" placeholder="Your email" value="<%= profile_user.email_id%> " required>
        <input type="file" name="avatar" placeholder="Profile picture">
        <input type="submit" value="Update">
    </form>
    <%}else {%>
        <!-- else show only the profile info  -->
        <p><%= profile_user.name %></p>
        <p><%= profile_user.email_id %></p>
        
<% } %> 