<link rel="stylesheet" href="/css/user_profile.css">
<h1>This is the user's profile page</h1>

<p> Welcome <%= user.name %>! </p>
<p> <%= user.email_id %></p>
<div id="post-friend-cont">
  <% if(locals.user) {%>
  <section id="feed-posts">
    <h4>Creat a post</h4>
    <form action="/post/create" id="new-post-form" method="POST">
      <textarea name="content" id="" cols="30" rows="3" placeholder="Type here..." required></textarea>
      <input type="submit" name="" id="" value="Post" />
    </form>
    <div id="post-list-cont">
      <ul>
        <% for(post of posts) {%>
        <%- include('_post') -%>
        <%}%>
      </ul>
  </div>
</section>
<%}%>
        <% if(locals.user) {%>
        <section id="user-friends">
          <h4>Friends</h4>
          <% for(user of all_users) {%>
          <p>
            <a href="/user/profile/<%= user.id %>"> <%= user.name %> </a>
          </p>
          <% } %>
        </section>
        <% } %>
    </div>
<script src="/js/post.js"></script>
<script src="/js/comments.js"></script>
<script src="/js/toggle_likes.js"></script>
<script>
  $('.toggle-like-button').each(function(){
      let self = this;
      let toggleLike = new ToggleLike(self);
  });
</script>